<meta charset="UTF-8" />
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<title>Appy</title>
<script type="text/javascript" src="../js/120_jquery-2.2.0.min.js"></script>